In [2]:
import pandas as pd
df = pd.read_csv("final_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_p                      76 non-null     int64
 1   name_p_BRI                  76 non-null     bool
 2   name_p_BRIS                 76 non-null     bool
 3   name_p_COB TUBE             76 non-null     bool
 4   name_p_COSTA                76 non-null     bool
 5   name_p_Cob magnet           76 non-null     bool
 6   name_p_Deep SMD             76 non-null     bool
 7   name_p_JIMI                 76 non-null     bool
 8   name_p_MINI B               76 non-null     bool
 9   name_p_MINI C               76 non-null     bool
 10  name_p_PATENT               76 non-null     bool
 11  name_p_SELINE               76 non-null     bool
 12  name_p_STEPS                76 non-null     bool
 13  name_p_TORRES               76 non-null     bool
 14  color_p_B                   76 non-null     bool
 15  color_p_G                   76 non-null     bool
 16  color_p_W                   76 non-null     bool
 17  color_p_WG                  76 non-null     bool
 18  color_p_b                   76 non-null     bool
 19  color_p_g                   76 non-null     bool
 20  color_p_w                   76 non-null     bool
 21  Inventory value_normalized  76 non-null     float64
 22  Inventory_normalized        76 non-null     float64
 23  Total orders_normalized     76 non-null     float64
 24  total 23_normalized         76 non-null     float64
 25  January_normalized          76 non-null     float64
 26  February_normalized         76 non-null     float64
 27  March_normalized            76 non-null     float64
 28  April_normalized            76 non-null     float64
 29  May_normalized              76 non-null     float64
 30  June_normalized             76 non-null     float64
 31  July_normalized             76 non-null     float64
 32  August_normalized           76 non-null     float64
 33  September_normalized        76 non-null     float64
 34  October_normalized          76 non-null     float64
 35  Novermber_normalized        76 non-null     float64
 36  December_normalized         76 non-null     float64
 37  AV23_normalized             76 non-null     float64
 38  multiplier_normalized       76 non-null     float64
 39  Minimum stock_normalized    76 non-null     float64
 40  purchase_r_normalized       76 non-null     float64
dtypes: bool(20), float64(20), int64(1)
memory usage: 14.1 KB

In [4]:
selected_columns = ['code_p', 'January_normalized', 'February_normalized','March_normalized','April_normalized','May_normalized','June_normalized','July_normalized','August_normalized','September_normalized','October_normalized','Novermber_normalized','December_normalized']
subset_df = df[selected_columns]
subset_df

,code_p,January_normalized,February_normalized,March_normalized,April_normalized,May_normalized,June_normalized,July_normalized,August_normalized,September_normalized,October_normalized,Novermber_normalized,December_normalized
0,15126,0.168103,0.660287,0.351759,0.080357,0.502703,0.590164,0.110429,0.044280,0.315789,0.225989,0.216,0.467980
1,15127,0.077586,0.076555,0.110553,0.075893,0.291892,0.021858,0.089980,0.033210,0.065789,0.090395,0.132,0.162562
2,15002,0.284483,0.224880,0.326633,0.133929,0.140541,0.349727,0.087935,0.040590,0.096491,0.090395,0.164,0.152709
3,150022,0.021552,0.133971,0.135678,0.040179,0.000000,0.027322,0.053170,0.088561,0.000000,0.050847,0.060,0.000000
4,150011,0.021552,0.177033,0.050251,0.053571,0.075676,0.224044,0.071575,0.084871,0.065789,0.039548,0.020,0.024631
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,15039,0.077586,0.052632,0.025126,0.066964,0.000000,0.060109,0.022495,0.014760,0.048246,0.768362,0.032,0.039409
72,15040,0.056034,0.086124,0.030151,0.040179,0.081081,0.032787,0.026585,0.047970,0.188596,0.084746,0.036,0.000000
73,15038,0.112069,0.205742,0.150754,0.044643,0.005405,0.032787,0.042945,0.047970,0.065789,0.096045,0.024,0.019704
74,15041,0.008621,0.062201,0.025126,0.040179,0.000000,0.010929,0.047035,0.040590,0.065789,0.033898,0.032,0.000000
75,15394,0.000000,0.019139,0.005025,0.040179,0.000000,0.000000,0.008180,0.003690,0.052632,0.033898,0.020,0.000000

In [7]:
df2 = pd.melt(subset_df, id_vars=["code_p"], 
                  var_name="Month", value_name="Value")

In [8]:
df2

     code_p                Month     Value
0     15126   January_normalized  0.168103
1     15127   January_normalized  0.077586
2     15002   January_normalized  0.284483
3    150022   January_normalized  0.021552
4    150011   January_normalized  0.021552
..      ...                  ...       ...
907   15039  December_normalized  0.039409
908   15040  December_normalized  0.000000
909   15038  December_normalized  0.019704
910   15041  December_normalized  0.000000
911   15394  December_normalized  0.000000

[912 rows x 3 columns]

In [13]:
df2 = df2.sort_values(by=["code_p","Month"])

In [14]:
df2

     code_p                 Month     Value
233   15001      April_normalized  0.147321
537   15001     August_normalized  0.040590
841   15001   December_normalized  0.029557
81    15001   February_normalized  0.569378
5     15001    January_normalized  0.120690
..      ...                   ...       ...
220  150622      March_normalized  0.010050
372  150622        May_normalized  0.032432
828  150622  Novermber_normalized  0.020000
752  150622    October_normalized  0.028249
676  150622  September_normalized  0.078947

[912 rows x 3 columns]

In [17]:
month_map = {
    'January_normalized': 1, 'February_normalized': 2, 'March_normalized': 3, 'April_normalized': 4,
    'May_normalized': 5, 'June_normalized': 6, 'July_normalized': 7, 'August_normalized': 8,
    'September_normalized': 9, 'October_normalized': 10, 'Novermber_normalized': 11, 'December_normalized': 12
}

df2['month_numeric'] = df2['Month'].map(lambda x: month_map.get(x, None))

df2 = df2.sort_values(by=['code_p', 'month_numeric'])

df2 = df2.drop('month_numeric', axis=1)

In [18]:
df2

     code_p                 Month     Value
5     15001    January_normalized  0.120690
81    15001   February_normalized  0.569378
157   15001      March_normalized  0.145729
233   15001      April_normalized  0.147321
309   15001        May_normalized  0.048649
..      ...                   ...       ...
600  150622     August_normalized  0.088561
676  150622  September_normalized  0.078947
752  150622    October_normalized  0.028249
828  150622  Novermber_normalized  0.020000
904  150622   December_normalized  0.000000

[912 rows x 3 columns]

In [20]:
selected_columns = ['January', 'February', 'March', 'April', 'May', 'June', 'July_normalized', 'August', 'September', 'October', 'Novermber', 'December']
df_without_selected_columns = df.drop(columns=selected_columns)

df_without_selected_columns

,code_p,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,...,color_p_g,color_p_w,Inventory value_normalized,Inventory_normalized,Total orders_normalized,total 23_normalized,AV23_normalized,multiplier_normalized,Minimum stock_normalized,purchase_r_normalized
0,15126,False,False,False,False,False,False,False,False,False,...,False,True,0.883630,1.000000,0.000,0.386550,0.200000,0.0,0.167883,0.571964
1,15127,False,False,False,False,False,False,False,False,False,...,False,False,0.137726,0.457987,0.000,0.123717,0.087805,0.0,0.074615,0.319422
2,15002,True,False,False,False,False,False,False,False,False,...,False,True,0.244861,0.171745,0.000,0.216632,0.102439,0.0,0.087591,0.144997
3,150022,True,False,False,False,False,False,False,False,False,...,False,False,0.149944,0.103416,0.000,0.055441,0.048780,0.0,0.039740,0.136972
4,150011,True,False,False,False,False,False,False,False,False,...,False,False,0.192945,0.207756,0.000,0.086756,0.058537,0.0,0.048662,0.191546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,15039,False,False,False,False,False,False,False,False,False,...,False,False,0.030656,0.017544,0.175,0.101643,0.141463,0.0,0.117599,0.223114
72,15040,False,False,False,False,False,False,False,False,False,...,False,True,0.098765,0.072022,0.075,0.061602,0.063415,0.0,0.055150,0.188871
73,15038,False,False,False,False,False,False,False,False,False,...,False,False,0.231554,0.182825,0.000,0.078029,0.043902,0.0,0.038118,0.184056
74,15041,False,False,False,False,False,False,False,False,False,...,False,False,0.349848,0.163435,0.000,0.027721,0.034146,0.0,0.030819,0.177635
75,15394,False,False,False,False,False,False,False,False,False,...,False,False,0.089338,0.063712,0.000,0.001027,0.000000,0.0,0.002433,0.138577

In [22]:
merged_df = pd.merge(df_without_selected_columns, df2, on='code_p')
merged_df.set_index('code_p', inplace=True)

In [25]:
merged_df

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value_normalized,Inventory_normalized,Total orders_normalized,total 23_normalized,AV23_normalized,multiplier_normalized,Minimum stock_normalized,purchase_r_normalized,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,January_normalized,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,February_normalized,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,March_normalized,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,April_normalized,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,May_normalized,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,August_normalized,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,September_normalized,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,October_normalized,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,Novermber_normalized,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,December_normalized,0.000000

In [24]:
merged_df.to_csv("finally.csv",index=True)

In [26]:
merged_df['Month'] = merged_df['Month'].str.replace('_normalized', '')

In [27]:
merged_df

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value_normalized,Inventory_normalized,Total orders_normalized,total 23_normalized,AV23_normalized,multiplier_normalized,Minimum stock_normalized,purchase_r_normalized,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,January,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,February,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,March,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,April,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,May,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,August,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,September,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,October,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,Novermber,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,December,0.000000

In [28]:
new_column_names = [col.replace('_normalized', '') for col in merged_df.columns]

merged_df.columns = new_column_names

In [29]:
merged_df

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value,Inventory,Total orders,total 23,AV23,multiplier,Minimum stock,purchase_r,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,January,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,February,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,March,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,April,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,May,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,August,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,September,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,October,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,Novermber,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,December,0.000000

In [30]:
merged_df.to_csv("finally2.csv")

In [31]:
month_map = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4,
    'May': 5, 'June': 6, 'July': 7, 'August': 8,
    'September': 9, 'October': 10, 'Novermber': 11, 'December': 12
}

merged_df['Month'] = merged_df['Month'].map(month_map)

In [33]:
merged_df

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value,Inventory,Total orders,total 23,AV23,multiplier,Minimum stock,purchase_r,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,1,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,2,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,3,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,4,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,5,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,8,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,9,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,10,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,11,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,12,0.000000

In [44]:
merged_df

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value,Inventory,Total orders,total 23,AV23,multiplier,Minimum stock,purchase_r,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,1,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,2,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,3,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,4,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,5,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,8,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,9,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,10,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,11,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,12,0.000000

In [47]:
merged_df.to_csv("prediction_data.csv", index=True)
merged_df

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value,Inventory,Total orders,total 23,AV23,multiplier,Minimum stock,purchase_r,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,1,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,2,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,3,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,4,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,5,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,8,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,9,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,10,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,11,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,12,0.000000

In [48]:
check = pd.read_csv("prediction_data.csv",index_col='code_p')
check

,name_p_BRI,name_p_BRIS,name_p_COB TUBE,name_p_COSTA,name_p_Cob magnet,name_p_Deep SMD,name_p_JIMI,name_p_MINI B,name_p_MINI C,name_p_PATENT,...,Inventory value,Inventory,Total orders,total 23,AV23,multiplier,Minimum stock,purchase_r,Month,Value
code_p,,,,,,,,,,,,,,,,,,,,,
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,1,0.168103
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,2,0.660287
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,3,0.351759
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,4,0.080357
15126,False,False,False,False,False,False,False,False,False,True,...,0.883630,1.000000,0.0,0.386550,0.2,0.0,0.167883,0.571964,5,0.502703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,8,0.003690
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,9,0.052632
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,10,0.033898
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,11,0.020000
15394,False,False,False,False,False,False,False,False,False,False,...,0.089338,0.063712,0.0,0.001027,0.0,0.0,0.002433,0.138577,12,0.000000